h1 {
    padding: 15px;
    display: inline-block;
}

i {
    display: inline-block;
    vertical-align: sub;
    padding-left: 8%;
}

i.fa.fa-image {
    font-size: 50px;
    color: white;
}

i.fa.fa-info-circle {
    font-size: 50px;
    color: white;
}

i.fa.fa-exclamation-triangle {
    font-size: 50px;
    color: white;
}

.page-header {
    background: #3c8dbc;
}

p{
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
    color: #777;
    font-size: 16px;
	font-family: "Roboto", Arial;
	line-height: 1.25em;
	padding: 0 0 1em 0;
	text-align: justify;
}
p#first{
    padding-top: 15px;
}

#text.fluid-container {
    background-color: #eee;
    margin: 0;
    padding-right: 150px;
    padding-left: 150px;

}

html {
    background-color: #eee;
}

body {
    margin: 0;
}
p#consult{
    margin: 0;
    padding:0;
}
